.container {
  padding: 0 140px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 25px;
  background: #FFFFFF;
}

.menuWrapper {
  max-width: 80px;
  display: flex;
  align-items: center;
  color: #000000;
}

.menuBtn {
  margin-right: 10px;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.menuBtnImage {
  width: auto;
  display: flex;

}

.menuTitle {
  font-size: 12px;
  font-weight: 500;
}

.hidden {
  display: flex;
}

.logoImage {
  width: 170px;
  height: 46px;
}

.underHeaderList {
  text-align: right;
  padding-right: 25px;
  background: #222B35;
  border-bottom: 2px solid #FFFFFF;
}

.underHeaderListItem {
  margin: 0 15px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

.underHeaderListItem:nth-of-type(2) {
  position: relative;
}

.underHeaderListItem:nth-of-type(2):before,
.underHeaderListItem:nth-of-type(2):after {
  content: '';
  position: absolute;
  display: flex;
  border-radius: 50%;
  background: red;
  width: 6px;
  left: -18px;
  top: 4px;
  height: 6px;
}

.underHeaderListItem:nth-of-type(2):after {
  left: 87px;
}

.plans {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #222B35;
}

.plansSubtitle {
  margin: 50px auto 0;
  max-width: 60%;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;

  /*@media (max-width: 600px) {*/
  /*  .grid {*/
  /*    width: 100%;*/
  /*    flex-direction: column;*/
  /*  }*/
  /*}*/
}

.plansTitle {
  margin: 80px 0 70px;
  font-size: 26px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
}

.cardWrapper {
  margin: 0 0 150px;
  padding: 0;
  display: flex;
  flex: 1;
  justify-content: space-between;
  list-style: none;
}

.planCard {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  max-width: 355px;
  height: 200px;
}

.planCardInner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0;
}

.overlay {
/*.planCard:after {*/
  position: relative;
  left: 10px;
  top: 10px;
  border-radius: 0 10px 0 10px;
  display: flex;
  width: 100%;
  height: 100%;
  background: red;
  z-index: 1;
}

.hiddenCardText {
  display: flex;
}

.cardTitle {
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
}

.cardLink {
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;

}

.detailsContainer {
  background: #FFFFFF;
  padding: 150px 0 440px;
}

.planDetailsList {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex: 1;
  list-style: none;
}

.detailWrapper {
  position: relative;
  margin: 0 15px;
  width: 325px;
  padding: 35px 35px 40px;
  border-radius: 50px 0 50px 0;
  background: #222B35;
  color: #FFFFFF;
}

.popularCard {
  text-transform: uppercase;
  background: #222B35;
  color: #6AFBC6;
  position: absolute;
  top: -37px;
  right: 0;
  padding: 10px 0;
  width: 100%;
  border-radius: 50px 100px 0 50px;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: center;
}

.detailWrapper:nth-of-type(2) {
  background: #6AFBC6;
  color: #000000;
}

.detailWrapper:nth-of-type(2) .details {
  list-style-image: url("/black_arrow.svg");
}

.detailWrapper:nth-of-type(2) .btn {
  background: #FF005C;
  color: #6AFBC6;
}

.detailTitle {
  margin: 0 0 15px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.detailPrice {
  font-size: 60px;
  font-weight: 700;
  line-height: 73px;
}

.detailPeriod {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
}

.details {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  list-style-image: url("/white_arrow.svg");
}

.detailItem {
  margin-bottom: 15px;
}

.detail {
  padding-left: 10px;
  vertical-align: top;
}

.btn {
  margin-top: 30px;
  padding: 13px 65px;
  text-transform: uppercase;
  cursor: pointer;
  border-color: transparent;
  border-radius: 50px 50px 0 50px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

@media (max-width: 880px) {
  .container {
    padding: 0 80px;
  }
  .plansSubtitle {
    max-width: 100%;
  }
  .cardWrapper {
    flex-direction: column;
    align-items: center;
  }
  .planCard {
    width: 100%;
    margin-bottom: 30px;
  }
  .planDetailsList {
    flex-direction: column;
    align-items: center;
  }

  .detailWrapper {
    margin-bottom: 60px;
  }

  .detailWrapper:nth-of-type(2) {
    margin-bottom: 20px;
  }
}

@media (max-width: 460px) {
  .container {
    padding: 0 25px;
  }
}
